<form action="/articles" method="post">
  <label for="title">Article Name:</label><br>
  <input type="text" id="title" name="title"><br>
  <label for="content">Content:</label><br>
  <input type="text" id="content" name="content"><br><br>
  <input type="submit" value="Submit">
</form>